{% extends 'base.html' %}

{% block content %}

<div class="content container-fluid">
    <div class="page-header">
       <div class="row">
          <div class="col-sm-12">
             <h3 class="page-title">Welcome {{user.user_type}} !</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
             </ul>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-xl-3 col-sm-6 col-12 d-flex">
          <div class="card bg-one w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                     <i class="fas fa-user-friends" style="position: relative; left: -7px;"></i>
                   </div>
                   <div class="db-info">
                      <h4>{{hod}}</h4>
                      <h6 style="position: relative; left: -5px;">Department Head</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-3 col-sm-6 col-12 d-flex">
          <div class="card bg-two w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fas fa-user-friends"></i>
                   </div>
                   <div class="db-info">
                      <h4>{{emp}}</h4>
                      <h6>Employees</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-3 col-sm-6 col-12 d-flex">
          <div class="card bg-three w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fas fa-building"></i>
                   </div>
                   <div class="db-info">
                      <h4>{{dept}}</h4>
                      <h6 style="position: relative; left: -11px;">Departments</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-3 col-sm-6 col-12 d-flex">
          <div class="card bg-four w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fas fa-envelope" style="position: relative; left: -3px;"></i>
                   </div>
                   <div class="db-info">
                      <h4>{{grv}}</h4>
                      <h6>Total Grievances</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    
    <div class="row">
       <div class="col-md-6 d-flex">
          <div class="card flex-fill">
             <div class="card-header">
                <h5 class="card-title">Recently added HOD</h5>
             </div>
             <div class="card-body">
                <div class="table-responsive">
                   <table class="table table-hover table-center">
                      <thead class="thead-light">
                         <tr>
                            <th>No:</th>
                            <th>Name</th>
                            <th class="text-center">ID</th>
                            <th class="text-center">Department</th>
                            
                         </tr>
                      </thead>
                      <tbody>
                        {% for i in h  %}
                         <tr>
                            <td class="text-nowrap">
                               <div>{{forloop.counter}}</div>
                            </td>
                            <td class="text-nowrap">{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</td>
                            <td class="text-center">{{i.admin.employee_id}}</td>
                            <td class="text-center">{{i.department_id.name}}</td>
                            
                         </tr>
                         {% endfor %}
                      </tbody>
                   </table>
                </div>
             </div>  
          </div>
       </div>
       <div class="col-md-6 d-flex">
          <div class="card flex-fill">
             <div class="card-header">
                <h5 class="card-title">Recently added EMPLOYEE</h5>
             </div>
     <!--        <div class="card-body">
                <ul class="activity-feed">
                   <li class="feed-item">
                      <div class="feed-date">Apr 13</div>
                      <span class="feed-text"><a>John Doe</a> won 1st place in <a>"Chess"</a></span>
                   </li>
                   <li class="feed-item">
                      <div class="feed-date">Mar 21</div>
                      <span class="feed-text"><a>Justin Lee</a> participated in <a href="invoice.html">"Carrom"</a></span>
                   </li>
                   <li class="feed-item">
                      <div class="feed-date">Feb 2</div>
                      <span class="feed-text"><a>Justin Lee</a>attended internation conference in <a href="profile.html">"St.John School"</a></span>
                   </li>
                   <li class="feed-item">
                      <div class="feed-date">Apr 13</div>
                      <span class="feed-text"><a>John Doe</a> won 1st place in <a>"Chess"</a></span>
                   </li>
                   <li class="feed-item">
                      <div class="feed-date">Mar 21</div>
                      <span class="feed-text"><a>Justin Lee</a> participated in <a href="invoice.html">"Carrom"</a></span>
                   </li>
                </ul>
             </div> -->

             <div class="card-body">
               <div class="table-responsive">
                  <table class="table table-hover table-center">
                     <thead class="thead-light">
                        <tr>
                           <th>No:</th>
                           <th>Name</th>
                           <th class="text-center">ID</th>
                           <th class="text-center">Department</th>
                           
                        </tr>
                     </thead>
                     <tbody>
                       {% for i in e  %}
                        <tr>
                           <td class="text-nowrap">
                              <div>{{forloop.counter}}</div>
                           </td>
                           <td class="text-nowrap">{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</td>
                           <td class="text-center">{{i.admin.employee_id}}</td>
                           <td class="text-center">{{i.department_id.name}}</td>
                           
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div> 
          </div>
       </div>
    </div>
    
 </div>

{% endblock %}