{% extends 'base.html' %}

{% block content %}

<div class="content container-fluid">
    <div class="page-header">
       <div class="row">
          <div class="col-sm-12">
             <h3 class="page-title">Welcome {{user.first_name}} {{user.last_name}}&nbsp;-&nbsp;Department of {{e.department_id.name}}</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
             </ul>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-xl-3 col-sm-6 col-12 d-flex">
          <div class="card bg-one w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fas fa-envelope" style="position: relative; left: -3px;"></i>
                   </div>
                   <div class="db-info">
                      <h4>{{total_grv_count}}</h4>
                      <h6>Total Grievances</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-3 col-sm-6 col-12 d-flex">
          <div class="card bg-two w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fas fa-envelope"></i>
                   </div>
                   <div class="db-info">
                      <h4>{{in_progress_grv_count}}</h4>
                      <h6>In Progress Grievances</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-3 col-sm-6 col-12 d-flex">
          <div class="card bg-three w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                     <i class="fas fa-envelope" style="position: relative; left: -3px;"></i>
                   </div>
                   <div class="db-info">
                      <h4>{{pending_grv_count}}</h4>
                      <h6>Pending Grievances</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-3 col-sm-6 col-12 d-flex">
          <div class="card bg-four w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                     <i class="fas fa-envelope" style="position: relative; left: -3px;"></i>
                   </div>
                   <div class="db-info">
                      <h4>{{solved_grv_count}}</h4>
                      <h6>Solved Grievances</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 <!--  <div class="row">
       <div class="col-md-12 col-lg-6">
          <div class="card card-chart">
             <div class="card-header">
                <div class="row align-items-center">
                   <div class="col-6">
                      <h5 class="card-title">Demo Data</h5>
                   </div>
                   <div class="col-6">
                      <ul class="list-inline-group text-right mb-0 pl-0">
                         <li class="list-inline-item">
                            <div class="form-group mb-0 amount-spent-select">
                               <select class="form-control form-control-sm">
                                  <option>Today</option>
                                  <option>Last Week</option>
                                  <option>Last Month</option>
                               </select>
                            </div>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="card-body">
                <div id="apexcharts-area"></div>
             </div>
          </div>
       </div>
       <div class="col-md-12 col-lg-6">
          <div class="card card-chart">
             <div class="card-header">
                <div class="row align-items-center">
                   <div class="col-6">
                      <h5 class="card-title">Demo Data</h5>
                   </div>
                   <div class="col-6">
                      <ul class="list-inline-group text-right mb-0 pl-0">
                         <li class="list-inline-item">
                            <div class="form-group mb-0 amount-spent-select">
                               <select class="form-control form-control-sm">
                                  <option>Today</option>
                                  <option>Last Week</option>
                                  <option>Last Month</option>
                               </select>
                            </div>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="card-body">
                <div id="bar"></div>
             </div>
          </div>
       </div>
    </div>  --> 
    <div class="row">
       <div class="col-md-6 d-flex">
          <div class="card flex-fill">
             <div class="card-header">
                <h5 class="card-title">Pending Grievances</h5>
             </div>
             <div class="card-body">
                <div class="table-responsive">
                   <table class="table table-hover table-center">
                      <thead class="thead-light">
                         <tr>
                            
                            <th class="text-center">Date</th>
                            <th class="text-center">Subject</th>
                            
                         </tr>
                      </thead>
                      <tbody>
                        {% for i in pending_grv_count1 %}
                         <tr>
                            
                            <td class="text-center">{{i.created_at}}</td>
                            <td class="text-center">{{i.subject}}</td>
                            
                         </tr>
                         {% endfor %}
                        
                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-6 d-flex">
          <div class="card flex-fill">
             <div class="card-header">
                <h5 class="card-title">In progress Grievances</h5>
             </div>
             <div class="card-body">
                <ul class="activity-feed">
                  {% for i in in_progress_grv_count1 %}
                   <li class="feed-item">
                      <div class="feed-date">{{i.created_at}}</div>
                      <span class="feed-text"><a>{{i.subject}}</a>&nbspin progress <a>"Please wait patiently"</a></span>
                   </li>
                   {% endfor %}
                   
                </ul>
             </div>
          </div>
       </div>
    </div>
    
 </div>

{% endblock %}